{% extends 'student_feedback_app/base.html' %}
{% load static %}

{% block title_block %}
{{ lecturer.lecturer.username }}'s<br />
Add Feedback
{% endblock%}


{% block body_block %}
<form id="fb_form" method="post" action="">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
<div style="width:100%; display: table;">
  <div style="display: table-row;">
    <div style="display: table-cell;">
      <div class="card" style="height: 80px; margin-left:25px; margin-top:25px;
                                margin-right:25px; margin-bottom:25px;">
        <h3 class="card-body text-left">
          Adding Feedback for
          <a style="text-decoration: none; color: black" href="{% url 'lecturer_view_student' student.student.id_number%}">
            <em>{{student.student.username}}</em>
          </a>
        </h3>
      </div>
      {% for field in form.visible_fields %}
      {{ field.errors }}
      <div class="card" style="height: 125px; margin-left:25px; margin-top:25px;
                                margin-right:25px; margin-bottom:25px;">
        <h5 class="card-body text-left">{{ field.help_text }}</h5>
        {% if field.help_text == 'Points' %}
        <div class="card" style="width:25%; margin-left:25px; align-self:center;
                                  margin-right:25px; margin-bottom:25px;">
          {{ field }}
        </div>
        {% elif field.help_text == 'Select a Message' or field.help_text == 'Category' %}
        <div style="align-self:center; margin-bottom:25px;">
          {{ field }}
        </div>
        {% else %}
        <div class="card" style="margin-left:25px;
                                  margin-right:25px; margin-bottom:25px;">
          {{ field }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="card" style="height: 80px; margin-left:25px; margin-top:25px;
                              margin-right:25px; margin-bottom:25px;">
      <h3 class="card-body text-left">{{ student.student.username }}'s Current Score: {{ student.score }}</h3>
    </div>
    <div class="card" style="margin-left:25px; margin-top:25px;
                              margin-right:25px; margin-bottom:25px;">
      <h5 class="card-body text-left" style="padding-bottom:0px">Recent Feedback for Student</h5>
      <div class="card-body" style="padding-top:0px">
        <p class="card-text"></p>
        {% for fb in feedback %}
        <div class="card" style="padding-left:10px; ">
          <b>{{ fb.category }}</b>
          <p>
            {{ fb.pre_defined_message.text }}<br />
            {% if fb.optional_message %}
              {{ fb.optional_message }}<br />
            {% endif %}
            {{ fb.points }}
          </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="card" style="height: 125px; margin-left:25px; margin-top:25px;
                                margin-right:25px; margin-bottom:25px;">
        <h3 class="card-body text-left">Submit: </h3>
        <input type='submit' name='submit' value='Submit Feedback' style='width:35%; align-self: center;'/>
    </div>
  </div>
</div>

</form>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}
