{% extends 'student_feedback_app/base.html' %}
{% load static %}

{% block title%}
All Feedback
{% endblock %}

{% block current_page %}
{{ student.student.username }}'s<br />
My Feedback
{% endblock%}


{% block body_block %}

<div class="container">
    <div class="card scroll" style="width:50%;margin-left:25px; margin-top:25px;">
      <h3 class="card-body text-center">Recent Feedback</h3>
      <div class="card-body">
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card recent" style="padding-left:10px; margin-top:10px">
        {% else %}
        <div class="card" style="padding-left:10px; margin-top:10px">
        {% endif %}
          <b>{{ fb.category }}</b>
          <p>
            {{ fb.pre_defined_message.text }}<br />
            {% if fb.optional_message %}
              {{ fb.optional_message }}<br />
            {% endif %}

            From: <em>{{fb.lecturer.lecturer.username}}</em><br />
            Course: <em>{{fb.which_course.subject}}</em><br />
            {{ fb.points }}<br />
            {{ fb.datetime_given }}
          </p>
          </div>
          {% endfor %}
      </div>
</div>

{% endblock %}
