{% extends 'student_feedback_app/base.html' %}
{% load static %}

{% block title%}
All Feedback
{% endblock %}

{% block current_page %}
{{ student.student.username }}'s<br />
Feedback
{% endblock%}


{% block body_block %}

<div class="container">
  <div class="card scroll" style="width:50%">
    <h3 class="card-body text-center custom-card-title">Recent Feedback</h3>
    <div class="card-body">
      {% for fb in feedback %}
      {% if fb.is_recent %}
      <div class="card recent" style="padding-left:10px; margin-top:10px">
      {% else %}
      <div class="card" style="margin-top:10px" id="feedback_card">
      {% endif %}
        <b class="card-sub-heading">{{ fb.category }}</b>
        <div class="row" style="padding-bottom:1%">
          <div class="column left">
            <div class="border">
              <blockquote class="quote">
                {{ fb.pre_defined_message.text }}<br />
                {% if fb.optional_message %}
                <em>"{{ fb.optional_message }}"</em>
                {% endif %}
                <footer>{{fb.lecturer.lecturer.username}}</footer>
              </blockquote>
            </div>
            Course:<em> {{fb.which_course.subject}}</em><br />
            <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
          </div>
          <div class="column right-number">
            {{ fb.points }}
            </div>
          </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
