{% extends 'student_feedback_app/base.html' %}

{% block title_block %}
Create a new class
{% endblock %}


{% block body_block %}
<h1> Create a new class</h1>

<div>
    <form id="" method="post" action="/lecturer_class/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
                    <br>
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
        {% endfor %}
        <br>
    <input type="submit" name="submit" value="Create Class" /> </form>

</div>

{% endblock %}