{% extends 'student_feedback_app/base.html' %}
{% load staticfiles %}

{% block title%}
{{ course.subject }}
{% endblock %}

{% block current_page %}
{{ course.subject }}<br />
{% endblock%}


{% block body_block %}
<div class="container">
  <div class="card custom-card">
    <h3 class="card-body text-center custom-card-title token" style="padding:10px;">
      Course Token: <b>{{ course.course_token}}</b>
    </h3>
  </div>

  <div class="card-deck" style="margin-bottom:25px;">
      <div class="card scroll">
        <h3 class="card-body text-center custom-card-title">Students</h3>
        <div id="all_students" class="card-body">
          {% for stud in students %}
          <div class="card students custom-card" id="{{ stud.student.id_number }}">
            <div class="row">
              <div class="column left">
                <b class="card-sub-heading">{{ stud.student.username }}</b>
                <div class="card-sub-heading">
                  {{stud.score }}
                  </div>
                </div>
              <div class="column right">
                <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                </div>

              </div>
            </div>
            <br />
            {% endfor %}
        </div>
        <form id="group-feedback-form" action="{% url 'add_group_feedback' course.subject_slug %}" id="group-feedback-form">
          <div class="button" style="padding-bottom:10px">
              <button class="btn btn-material btn-ripple" type="submit">Add Group Feedback</button>
          </div>
          </form>
      </div>

      <div class="card scroll">
        <h3 class="card-body text-center custom-card-title">Recent Feedback</h3>
        <div class="card-body" id="fb-list">
          {% for fb in feedback %}
          {% if fb.is_recent %}
          <div class="card recent custom-card">
          {% else %}
          <div class="card custom-card">
          {% endif %}
            <b class="card-sub-heading">{{ fb.category }}</b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>{{fb.student.student.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                {{ fb.points }}
                </div>
              </div>
            </div>

            {% endfor %}
        </div>
		<div class="button" style="padding-bottom:0px; padding-top:10px;">
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'points')" type="button" class="btn btn-primary">Sort by points</button>
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'date')" type="button" class="btn btn-primary">Sort by date</button>
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'course')" type="button" class="btn btn-primary">Sort by course</button>
        </div>
      </div>

    <div class="card scroll">
      <h3 class="card-body text-center custom-card-title">Leaderboard</h3>
      <div class="card-body text-center">
        <p class="card-text">This will show the top X students of the course</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

<script type="text/javascript" src="{% static 'javascript/group_select.js' %}" ></script>

{% endblock%}
