{% extends 'student_feedback_app/base.html' %}

{% load static %}

{% block title%}
My Courses
{% endblock %}

{% block current_page %}
{{ lecturer.lecturer.username }}'s<br />
Courses
{% endblock%}

<link rel="stylesheet" type="text/css" href="custom.css" />

{% block body_block %}
<div class="container">
  <div class="card-deck">

    <div class="card scroll">
      <h3 class="card-body text-center custom-card-title">My Courses</h3>
      <form id="group-feedback-form" action="{% url 'create_course'  %}">
        <div class="button" style="padding-bottom:0px; padding-top:10px;">
            <button class="btn btn-material btn-ripple" type="submit">Create Course</button>
        </div>
      </form>
      <div class="card-body">
        {% for course in courses %}
            <a style="text-decoration: none; color: black" href="{% url 'lecturer_course' course.subject_slug%}">
              <div class="card custom-card">
                <b class="card-sub-heading">{{ course.subject }}</b>

                <div class="row" style="padding-bottom:1%">
                  <div class="column left">
                    <div class="border">
                      <div class="course-info">
                        {{ course.course_description }}<br />
                        <footer>
                          Add a footer here?
                          </footer>
                          <br />
                        </div>
                    </div>
                  </div>
                  <div class="column right-number">
                    {{ course.students.all|length }}
                    </div>
                  </div>
                </div>
            </a>
          {% endfor %}
      </div>
    </div>

    <div class="card scroll">
      <h3 class="card-body text-center custom-card-title">Recent Feedback</h3>
      <div class="card-body" id="fb-list">
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card recent custom-card">
        {% else %}
        <div class="card custom-card">
        {% endif %}
          <b class="card-sub-heading">{{ fb.category }}</b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>{{fb.student.student.username}}</footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              {{ fb.points }}
              </div>
            </div>
          </div>

          {% endfor %}
      </div>
	  <div class="button" style="padding-bottom:0px; padding-top:10px;">
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'points')" type="button" class="btn btn-primary">Sort by points</button>
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'date')" type="button" class="btn btn-primary">Sort by date</button>
          <button onclick="fetchStud({{ lecturer.lecturer.id_number }}, 'course')" type="button" class="btn btn-primary">Sort by course</button>
        </div>
    </div>

  <div class="card scroll">
      <h3 class="card-body text-center custom-card-title">My Top Students</h3>
      <div class="card-body" style="padding-top:0px">
        <p class="card-text"></p>
        Functionality to be made
      </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}
