{% extends 'student_feedback_app/base.html' %}
{% load static %}

{% block title_block %}
{{ lect.lecturer.username }}'s<br />
Provided Feedback
{% endblock%}


{% block body_block %}

<div class="container">
    <div class="card" style="width:50%;margin-left:25px; margin-top:25px;">
      <h3 class="card-body text-center">Recent Feedback</h3>
      <div class="card-body">
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card recent" style="padding-left:10px; margin-top:10px">
        {% else %}
        <div class="card" style="padding-left:10px; margin-top:10px">
        {% endif %}
          <b>{{ fb.category }}</b>
          <p>
            {{ fb.pre_defined_message.text }}<br />
            {% if fb.optional_message %}
              {{ fb.optional_message }}<br />
            {% endif %}
            <a style="text-decoration: none; color: black" href="{% url 'lecturer_view_student' fb.student.student.id_number%}">
              <em>{{fb.student.student.username}}</em>
            </a><br />
            {{ fb.points }}<br />
            {{ fb.datetime_given }}
          </p>
          </div>
          {% endfor %}
      </div>
</div>

{% endblock %}
