{% extends 'student_feedback_app/base.html' %}
{% block title%}
My Profile
{% endblock %}

{% block current_page %}
My Profile
{% endblock%}


{% block body_block %}


<div class="container">
  <div class="card-deck">


    <div class="card" style="margin-top: 25px; align-items: center;">
        <img src="{{student.student.profile_picture.url}}" class="picture-my-account">
        <h1>{{student.student.username}}</h1>
        </div>
    </div>



    <div class="card" style="margin-top:25px;">
      <div class="card-body">
        <div class="card card-padding custom-card">
          <b class="custom-card-title">Email: </b>
            <p>
                {{student.student.email}}
            </p>
        </div>
        <div class="card card-padding custom-card">
          <b class="custom-card-title">Degree: </b>
            <p>
                {{student.degree}}
            </p>
        </div>
        <div class="card card-padding custom-card">
          <b class="custom-card-title">Bio:</b>
            <p>
                 {{student.bio}}
            </p>

        </div>

      </div>
    </div>
    </div>



   <div class="card scroll-bg" style="margin-top:25px;">
      <h3 class="card-body text-center custom-card-title">Course Stats</h3>
      <hr />
      <div class="card-body scroll">
        <div class="card card-padding custom-card">
          <b class="custom-card-title">Total Score: {{student.score}}</b>
          </div>
            <div class="card card-padding custom-card">
              <b class="custom-card-title">My Courses: </b>
              {% for course,score in courses.items %}
              <div class="card custom-card">

                <b class="card-sub-heading">{{ course.subject }}</b>
              <div class="row" style="padding-bottom:1%">
                  <div class="column left">
                    <div class="border">
                      <div class="course-info">
                        {{ course.course_description }}<br />
                           <footer>
                          {{course.lecturer.lecturer.username}}
                          </footer>
                          <br />
                      </div>
                      </div>
                    </div>
                  <div class="column right-number">
                    {{score}}
                    </div>
                  </div>
              </div>
              {% endfor %}
          </div>
     </div>
    </div>
  </div>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
{% endblock %}
