{% extends 'student_feedback_app/base.html' %}

{% block title%}
{{ course.subject }}
{% endblock %}

{% block current_page %}
{{ course.subject }}
{% endblock%}


{% block body_block %}
<div class="container">
  <div class="card-deck">

    <div class="card" style="width:40%;margin-top:25px;">
      <h3 class="card-body text-center custom-card-title">Course Info</h3>
      <div class="card-body">
          <div class="card card-padding custom-card">
              <b class="custom-card-title">Lecturer:</b>
              <em>{{lect.lecturer.username }}</em>
          </div>
          <div class="card card-padding custom-card">
              <b class="custom-card-title">Course Description:</b>
              <em>{{course.course_description }}</em>
          </div>
          <div class="card card-padding custom-card">
              <b class="custom-card-title">Current Score: </b>
              {{stud.score}}
          </div>
      </div>
    </div>

    <div class="card scroll" style="width:40%">
      <h3 class="card-body text-center custom-card-title">Recent Feedback</h3>
      <div class="card-body">
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card custom-card recent">
        {% else %}
        <div class="card custom-card">
        {% endif %}
          <b class="card-sub-heading">{{ fb.category }}</b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>{{fb.lecturer.lecturer.username}}</footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              {{ fb.points }}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    <div class="card" style="width:40%; margin-left:25px; margin-top:25px;">
      <h3 class="card-body text-center custom-card-title">Leaderboard</h3>
      <div class="card-body text-center">
        <p class="card-text">This will show the top X students of the course</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
