{% extends 'student_feedback_app/base.html' %}

{% block title%}
My Homepage
{% endblock %}

{% block current_page %}
{{ student.student.username }}'s <br />
Home Page
{% endblock%}


{% block body_block %}
<div class="container">
  <div class="card-deck">

    <div class="card scroll">
      <h3 class="card-body text-center custom-card-title">Recent Feedback</h3>
      <div class="card-body" id="fb-list">
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card custom-card recent">
        {% else %}
        <div class="card custom-card">
        {% endif %}
          <b class="card-sub-heading">{{ fb.category }}</b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>{{fb.lecturer.lecturer.username}}</footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              {{ fb.points }}
              </div>
            </div>
          </div>

          {% endfor %}
      </div>
	  <div class="button" style="padding-bottom:0px; padding-top:10px;">
          <button onclick="fetchStud('{{ student.student.username }}', 'points', 'student')" type="button" class="btn btn-primary">Sort by points</button>
          <button onclick="fetchStud('{{ student.student.username }}', 'date', 'student')" type="button" class="btn btn-primary">Sort by date</button>
          <button onclick="fetchStud('{{ student.student.username }}', 'course', 'student')" type="button" class="btn btn-primary">Sort by course</button>
        </div>
    </div>


    <div class="" style="width:40%">
      <h3 class="card-body text-center custom-card-title">Attribute Graph</h3>
      <div class="card-body" style="padding-top:0px">
        <p class="card-text"></p>
        <div class="card custom-card">
          <b> Total Score: </b>
          {{student.score}}<br />
        </div>
        <div class="card custom-card">
          <b> Graph functionality to be made </b>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
