{% extends 'student_feedback_app/general/base.html' %}
{% load staticfiles %}
{% load static %}

{% block title%}
{{ course.subject }} Invite
{% endblock %}

{% block current_page %}
{{ user.username }}<br />
{{ course.subject }}<br />
{% endblock%}


{% block body_block %}
<div class="container" id="">
  <div class="card custom-card">
    <h3 class="card-body text-center custom-card-title token" style="padding:10px;">
      Invite students to {{course.subject}}
    </h3>
  </div>

  <div class="card-deck" style="margin-bottom:25px;">
      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Students from other courses</h3>
        <hr />
        <div id="all_students" class="card-body scroll">
          {% if students|length == 0 %}
          <div class="card custom-card">
            <h3 class="text-center" id="title">
              No students available
            </h3>
          </div>
          {% endif %}
          {% for stud in students %}
          <div class="card students custom-card" id="{{ stud.student.id_number }}">
            <div class="row">
              <div class="column left">
                <b class="card-sub-heading">{{ stud.student.username }}</b>
                <div class="card-sub-heading">
                  </div>
                </div>
              <div class="column right">
                <a href="{% url 'view_profile' stud.student.id_number%}">
                  <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                </a>
                </div>
              </div>
            </div>
            <br />
            {% endfor %}
        </div>
        <hr />

        <div class="button">
          <button class="btn btn-material btn-ripple" id="select-all"> Select All</button>
        </div>
        </div>

        <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Invite by email</h3>
        <hr />
        <div id="emails" class="card-body scroll">
          <div class="card custom-card">
            <input type="text" class="emails" placeholder="example@university.com" style="width:100%;">
          </div>
        </div>

        <hr />
          <div class="button">
            <button onclick="addEmail()" class="btn btn-material btn-ripple">Add another one</button>
          </div>

      </div>
        </div>

        <div class="btn-group dropright button">
            <form id="invites-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="token">
                <button class="btn btn-material btn-ripple" type="submit">Send Invites</button>
            </form>
        </div>
</div>
{% endblock%}

{% block footer %}

<script type="text/javascript" src="{% static 'javascript/group_select.js' %}" ></script>
<script type="text/javascript" src="{% static 'javascript/add_emails.js' %}" ></script>

{% endblock%}
