{% extends 'student_feedback_app/general/base.html' %}
{% load staticfiles %}

{% block title%}
{{ course.subject }}
{% endblock %}

{% block current_page %}
{% for lect in lecturers %}
{{ lect.lecturer.username }}<br />
{% endfor %}
{{ course.subject }}<br />
{% endblock%}


{% block body_block %}

<script>
 window.onload = function () {
     {% autoescape off %}
     catData = {{feedbackData}}
     catColours = {{catColours}}
     {% endautoescape %}
     data1 = []
     for(var cat in catData){
         dataPoints1 = []
         for(var i=0; i < catData[cat].length; i++){
             console.log(catData[cat]);
             dataPoints1.push({x: new Date(catData[cat][i][1].replace(/-/g, "/")), y: catData[cat][i][0]})
         }

         data1.push({
             type: "line",
             name: cat,
             color: catColours[cat][0],
             showInLegend: true,
             axisYIndex: 1,
             dataPoints: dataPoints1
         })
     }

	var chart = new CanvasJS.Chart("chartContainer", {
	title:{
		text: "Attribute Graph"
	},
	axisY:[{
		title: "Points",
		lineColor: "#c24642",
		tickColor: "#C24642",
		labelFontColor: "#C24642",
		titleFontColor: "#C24642",
		},
	],
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: data1
});
chart.render();

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}
}
</script>


<div class="container" id="{{ course.subject_slug }}">
  <div class="card custom-card">
    <h3 class="card-body text-center custom-card-title token" style="padding:10px;">
      Course Token: <b>{{ course.course_token }} </b><a href="{% url 'invites' %}?token={{course.course_token}}">
        <div class="button" style="margin:0; padding-top:5px">
          <button class="btn btn-material btn-ripple">Send Token</button>
        </div>
      </a>
    </h3>
  </div>

  <div class="card-deck" style="margin-bottom:25px;">
      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Students</h3>
        <hr />
        <div id="all_students" class="card-body scroll">
          {% for stud,score in students_with_score %}

          <div class="card students custom-card" id="{{ stud.student.id_number }}">
            <div class="row">
              <div class="column left">
                <b class="card-sub-heading">{{ stud.student.username }}</b>
                <div class="card-sub-heading">
                  {{ score }}
                  </div>
                </div>
              <div class="column right">
                <a href="{% url 'view_profile' stud.student.id_number%}">
                  <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                </a>
                <i class="material-icons delete-student-icon" id="{{ stud.student.id_number }}/{{ course.course_code }}">delete</i>
                </div>
              </div>
            </div>
            <br />
            {% endfor %}
        </div>
        <hr />

        <div class="button">
          <button class="btn btn-material btn-ripple" id="select-all"> Select All</button>
        </div>

        <div class="btn-group dropright button">
            <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add Feedback
            </button>
            <div class="dropdown-menu custom-dd-menu">
              <form id="group-feedback-form" action="{% url 'add_group_feedback' course.subject_slug %}">
                <button class="dropdown-item custom-dd-item" type="submit">Group</button>
              </form>
              <form id="individual-feedback-form" action="{% url 'lect_add_individual_feedback' course.subject_slug 1402789 %}">
                <button class="dropdown-item custom-dd-item" type="submit">Individual</button>
              </form>
              </div>
        </div>

      </div>

      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Recent Feedback</h3>
        <hr />
        <div class="card-body scroll" id="fb-list">
          {% for fb in feedback %}
          {% if fb.is_recent %}
          <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
          {% else %}
          <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
          {% endif %}
            <b class="card-sub-heading" style="color:{{fb.category.colour}}">{{ fb.category }}</b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="card custom-border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>Given to {{fb.student.student.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                <div style="text-align:center; color:{{fb.category.colour}}">
                  {{ fb.points }}<br />
                  <h6>POINTS</h6>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
        </div>
        <hr />
        <br/>
        <div class="btn-group dropright button">
            <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu custom-dd-menu">
              <button onclick="sort('{{ course.subject }}', 'points', 'course')" type="button" class="btn btn-material btn-ripple">Points</button>
              <button onclick="sort('{{ course.subject }}', 'date', 'course')" type="button" class="btn btn-material btn-ripple">Date</button>
            </div>
        </div>
      </div>

      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Leaderboard</h3>
        <hr />
        <div class="card-body scroll">
          {% for stud,score in sorted_students %}
          <div class="card custom-card">
            <div class="row">
              <div class="column left">
                <b class="card-sub-heading">{{ stud.student.username }}</b>
                <div class="card-sub-heading">
                  {{ score }}
                  </div>
                </div>
              <div class="column right">
                <a href="{% url 'view_profile' stud.student.id_number%}">
                  <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                </a>
                </div>

              </div>
            </div>
            <br />
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="card custom-card" style="margin-bottom:25px;">
        <div id="chartContainer" style="height: 400px"></div>
          <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/group_select.js' %}" ></script>
<script type="text/javascript" src="{% static 'javascript/delete_student_from_course.js' %}" ></script>
{% endblock%}
