{% extends 'student_feedback_app/general/base.html' %}

{% load static %}

{% block title%}
My Courses
{% endblock %}

{% block current_page %}
{{ lecturer.lecturer.username }}'s<br />
Courses
{% endblock%}

<link rel="stylesheet" type="text/css" href="custom.css" />

{% load widget_tweaks %}
{% block body_block %}
<div class="container">
  <div class="card-deck">

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">My Courses</h3>
      <hr />
      <div class="card-body scroll">
        {% for course in courses %}
            <a style="text-decoration: none; color: black" href="{% url 'lecturer_course' course.subject_slug%}">
              <div class="card custom-card">
                <b class="card-sub-heading">{{ course.subject }}</b>

                <div class="row" style="padding-bottom:1%">
                  <div class="column left">
                    <div class="card custom-border">
                      <div class="course-info">
                        {{ course.course_description }}<br />
                        <footer>
                          Code - {{ course.course_code }}
                          </footer>
                          <br />
                        </div>
                    </div>
                  </div>
                  <div class="column right-number">
                    <div style="text-align:center">
                      {{ course.students.all|length }}<br />
                      <h6>STUDENTS</h6>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          {% endfor %}
      </div>
      <hr />
      <div class="button" style="margin-bottom:0">
        <button class="btn btn-material btn-ripple" data-toggle="modal" data-target="#CreateCourseModal" title="Create Course">
          Create Course
        </button>
      </div>
    </div>

  <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">Students with <br />Highest Scores</h3>
	    <hr />
      <div class="card-body scroll">
          {% for stud in top_students %}
          <div class="card custom-card">
            <div class="row">
              <div class="column left">
                <b class="card-sub-heading">{{ stud.student.username }}</b>
                <div class="card-sub-heading">
                  {{ stud.score }}
                  </div>
                </div>
              <div class="column right">
                <a href="{% url 'view_profile' stud.student.id_number %}">
                  <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                </a>
                </div>
              </div>
            </div>
            <br />
            {% endfor %}
        </div>
      </div>

      <div class="card" style="height: 300px; margin-top:25px;">
        <h3 class="text-center custom-card-title">Join a Course</h3>
        <hr />
        <div class="card-body">
          <form id="" method="post" action="">
            {% csrf_token %}
            {% for hidden in join_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in join_form.visible_fields %}
              <div class="card custom-card">
                {{ field.errors }}
                <h3 class="text-left" id="title">{{ field.help_text }}:</h3>
                {{ field }}
              </div>
            {% endfor %}
            <br />
            <div class="button">
              <input class="btn btn-material btn-ripple" type="submit" name="submit" value="Join Course" />
            </div>
        </form>
      </div>
    </div>

    </div>
  </div>
  <!-- Create Course Modal -->
  <div class="modal" id="CreateCourseModal" tabindex="-1" role="dialog" aria-labelledby="CreateCourseModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-create-course-header" id="createCourseModalTitle">Create Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <div class="modal-body">
                  <form id="" method="post" action="">
                    {% csrf_token %}
                    {% for hidden in create_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <h3 class="text-center custom-card-title">Create Course</h3>
                    <hr />

                    {% if create_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in create_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}

                    {% for field in create_form.visible_fields %}
                      <div class="form-group card custom-card">
                        <h3 class="custom-card-title" style="padding-top:0">
                          {{ field.help_text }}:
                        </h3>
                          {% render_field field class="form-control" %}
                      </div>
                    {% endfor %}

                    <div class="button">
                      <input class="btn btn-material btn-ripple" type="submit" name="submit" value="Submit" />
                    </div>

                  </form>
        </div>
      </div>
  </div>

  <!-- Help Info -->
  <div class="modal" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-help" id="helpModal">Help - My Courses Page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">

            <p>
            Welcome to the "My Courses" page.
            </p>

            <img class="help-image" src="{% static 'help_screenshots/lecturer_courses.png'%}">

            <br />

            <p>
              <li>
              Here you can again click on one of the courses to find out more information about it.
              </li>
              <li>
                You are also presented with a card which shows which of your students (across all courses) has the highest scores.
                You can view a student's profile by clicking on their profile picture.
              </li>
              <li>
                Additionally you have the option of joining an existing course using the "Join a Course" panel on the left using a course token.
                Ask the co-ordinator of the course you wish to join for the "Course Token" for that course and simply paste it here.
              </li>
              <li>
                Notice that you also have the option to create your own course by clicking the relevant button.
              </li>
            </p>

          </div>

          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
          </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
