{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
Customise Options
{% endblock %}

{% block current_page %}
{{ lecturer.lecturer.username }}'s<br />
Edit Categories and Pre-Defined Messages
{% endblock%}


{% block body_block %}
<div class="container">
  <div class="card-deck" style="margin-top:25px;">

    <div class="card">
      <h3 class="card-body text-center custom-card-title">My Categories</h3>
      <hr />
      
    </div>

    <div class="card">
      <h3 class="card-body text-center custom-card-title">My Messages</h3>
      <hr />

    </div>

  </div>
</div>
{% endblock %}
