{% extends 'student_feedback_app/general/base.html' %}

{% load static %}


{% block title%}
My Homepage
{% endblock %}

{% block current_page %}
{{ lecturer.lecturer.username }}'s <br />
Home Page
{% endblock%}

{% block body_block %}
<div class="container">
  <div class="card-deck">

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">My Courses</h3>
      <hr />
      <div class="card-body scroll">
        {% for course in courses %}
            <a style="text-decoration: none; color: black" href="{% url 'lecturer_course' course.subject_slug%}">
              <div class="card custom-card">
                <b class="card-sub-heading">{{ course.subject }}</b>

                <div class="row">
                  <div class="column left">
                    <div class="card custom-border">
                      <div class="course-info">
                        {{ course.course_description }}<br />
                        <footer>
                          Code - {{ course.course_code }}
                          </footer>
                          <br />
                        </div>
                    </div>
                  </div>
                  <div class="column right-number">
                    <div style="text-align:center">
                      {{ course.students.all|length }}<br />
                      <h6>STUDENTS</h6>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          {% endfor %}
      </div>
    </div>

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">Recent Feedback</h3>
      <hr />
      <div class="card-body scroll" id="fb-list" >
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
        {% else %}
        <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
        {% endif %}
        <b class="card-sub-heading" style="color:{{fb.category.colour}}">
          <img class="icon" src="{{fb.category.icon.image.url}}"/>
          {{fb.category.icon.image.url}}
          {{ fb.category }}
        </b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="card custom-border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>Given to {{fb.student.student.username}}</footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              <div style="text-align:center; color:{{fb.category.colour}}">
                {{ fb.points }}<br />
                <h6>POINTS</h6>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

        <br/>
        <div class="btn-group dropright button">
            <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu custom-dd-menu">
              <button onclick="sort('{{ lecturer.lecturer.username }}', 'points', 'from_user')" type="button" class="btn btn-material btn-ripple">Points</button>
              <button onclick="sort('{{ lecturer.lecturer.username }}', 'date', 'from_user')" type="button" class="btn btn-material btn-ripple">Date</button>
              <button onclick="sort('{{ lecturer.lecturer.username }}', 'course', 'from_user')" type="button" class="btn btn-material btn-ripple">Course</button>
            </div>
        </div>
       </div>

    </div>
  </div>

  <!-- Help Info -->
  <div class="modal" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-help" id="helpModal">Help - My Home Page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">
            <p>
            Welcome to your home page.
            </p>

            <img class="help-image" src="{% static 'help_screenshots/lecturer_home.png'%}">

            <br />

            <p>
              <li>
              Here you can view the different courses you are part of, and recent feedback you
              have given to different students.
              </li>
              <li>
                You can either directly click on a course to view details about it,
                or click "Courses" in the navbar to be directed to another page.
              </li>
            </p>

          </div>

          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
          </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
