{% extends 'student_feedback_app/general/base.html' %}

{% block title%}
My Courses
{% endblock %}

{% block current_page %}
{{ stud.student.username }}'s<br />
Courses
{% endblock%}

{% block body_block %}
<div class="container">
  <div class="card-deck">
    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">My Courses</h3>
      <hr />
      <div class="card-body scroll">
        {% for course,score in courses.items %}
            <a style="text-decoration: none; color: black" href="{% url 'student_course' course.subject_slug%}">
              <div class="card custom-card">
                <b class="card-sub-heading">{{ course.subject }}</b>

                <div class="row" style="padding-bottom:1%">
                  <div class="column left">
                    <div class="card custom-border">
                      <div class="course-info">
                        {{ course.course_description }}<br />
                        <footer>
                          {% for lect in course.lecturers.all %}
                            {{lect.lecturer.username}}
                            <br />
                          {% endfor %}
                          </footer>
                          <br />
                        </div>
                    </div>
                  </div>
                  <div class="column right-number">
                    <div style="text-align:center">
                      {{ score }}<br />
                      <h6>TOTAL SCORE</h6>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          {% endfor %}
      </div>
    </div>

    <div class="card" style="height: 300px; margin-top:25px;">
      <h3 class="text-center custom-card-title">Add a Course</h3>
      <hr />
      <div class="card-body">
        <form id="" method="post" action="">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="card custom-card">
              {{ field.errors }}
              <h3 class="text-left" id="title">{{ field.help_text }}:</h3>
              {{ field }}
            </div>
          {% endfor %}
          <br />
          <div class="button">
            <input class="btn btn-material btn-ripple" type="submit" name="submit" value="Join Course" />
          </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}
