{% extends 'student_feedback_app/general/base.html' %}

{% block title%}
My Feedback
{% endblock %}

{% block current_page %}
{{ student.student.username }}'s<br />
Feedback
{% endblock%}


{% block body_block %}

<div class="container">
    <div class="card-deck">

      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Recent Feedback</h3>
        <hr />
        <div class="card-body scroll" id="fb-list">
          {% for fb,colour in feedback.items %}
          {% if fb.is_recent %}
          <div class="card recent custom-card text-white fb-border" style="border-color:{{colour}}">
          {% else %}
          <div class="card custom-card fb-border" style="border-color:{{colour}}">
          {% endif %}
            <b class="card-sub-heading" style="color:{{colour}}">{{ fb.category }}</b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>From {{fb.from_user.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                <div style="text-align:center; color:{{colour}}">
                  {{ fb.points }}<br />
                  <h6>POINTS</h6>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
        </div>
        <br/>
        <div class="btn-group dropright button">
            <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu custom-dd-menu">
              <button onclick="sort('{{ student.student.username }}', 'points', 'student')" type="button" class="btn btn-material btn-ripple">Points</button>
              <button onclick="sort('{{ student.student.username }}', 'date', 'student')" type="button" class="btn btn-material btn-ripple">Date</button>
              <button onclick="sort('{{ student.student.username }}', 'course', 'student')" type="button" class="btn btn-material btn-ripple">Course</button>
            </div>
        </div>
      </div>

      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">My Top Attributes</h3>
        <hr />
        <div class="card-body scroll" style="height:800px">
          {% for category,score in top_attributes %}
          <div class="card custom-card" style="background-color:{{category.colour}}">
            <div class="row">
              <div class="column left-category">
                <b class="card-sub-heading">{{ category.name }}</b>
                </div>
              <div class="column right-number-category">
                  {{ score }}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

      <div class="card scroll-bg">
        <h3 class="text-center custom-card-title">Areas to Improve</h3>
        <hr />
        <div class="card-body scroll" style="height:800px">
          {% for category,score in to_improve %}
          <div class="card custom-card" style="background-color:{{category.colour}}">
            <div class="row">
              <div class="column left-category">
                <b class="card-sub-heading">{{ category.name }}</b>
                </div>
              <div class="column right-number-category">
                  {{ score }}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="button">
      <a class="btn btn-material btn-ripple" style="color:white" href="{% url 'student_provided_feedback'%}">
        Click here to view feedback you have given to others
      </a>
    </div>
</div>


{% endblock %}
