{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
My Provided Feedback
{% endblock %}

{% block current_page %}
Provided Feedback
{% endblock%}


{% block body_block %}

<div class="container">

  <div class="card scroll-bg">
    <h3 class="text-center custom-card-title">My Feedback</h3>
    <hr style="margin-bottom:0"/>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="title">
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link active" style="color:black" href="#All">All</a>
        </li>
        {% for course in courses %}
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link" style="color:black" href="#{{course.course_code}}">{{ course.subject }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="tab-content">
      {% for course, feedback_list in courses_with_feedback.items %}
      <div id="{{course.course_code}}" class="tab-pane">

        <div class="card-body scroll-lect-fb fb-list" id="fb-list-{{course.course_code}}">
          {% if feedback_list|length == 0 %}
          <div class="card custom-card fb-border">
            <b class="card-sub-heading">
              No Feedback Yet
            </b>
            <div class="card custom-border">
              <blockquote class="quote">
                No feedback available for this course<br />
              </blockquote>
            </div>
          </div>
          {% endif %}
          {% for fb in feedback_list %}
          {% if fb.is_recent %}
          <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
          {% else %}
          <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
          {% endif %}
            <i class="material-icons delete-icon" id="{{ fb.feedback_id }}">delete</i>
            <b class="card-sub-heading" style="color:{{fb.category.colour}}">
              <img class="icon" src="{{fb.category.icon.image.url}}"/>
              {{ fb.category }}
            </b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="card custom-border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>Given to {{fb.student.student.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                <div style="text-align:center; color:{{fb.category.colour}}">
                  {{ fb.points }}<br />
                  <h6>POINTS</h6>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        {% if not feedback_list|length == 0 %}
        <hr />
        <div class="btn-group dropright button">
          <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
          </button>
          <div class="dropdown-menu custom-dd-menu">
            <button onclick="sort_smart('points', 'student', 'fb-list-{{course.course_code}}', {%for fb in feedback_list%} {{fb.feedback_id}}, {%endfor%})" type="button" class="btn btn-material btn-ripple">Sort by points</button>
            <button onclick="sort_smart('date', 'student', 'fb-list-{{course.course_code}}', {%for fb in feedback_list%} {{fb.feedback_id}}, {%endfor%})" type="button" class="btn btn-material btn-ripple">Sort by date</button>
          </div>
        </div>
        {% endif %}


      </div>
      {% endfor  %}
      <div id="All" class="tab-pane active">
        <div class="card-body scroll-lect-fb fb-list" id="fb-list">
          {% if feedback|length == 0 %}
          <div class="card custom-card fb-border">
            <b class="card-sub-heading">
              No Feedback Yet
            </b>
            <div class="card custom-border">
              <blockquote class="quote">
                No feedback available for this course<br />
              </blockquote>
            </div>
          </div>
          {% endif %}
          {% for fb in feedback %}
          {% if fb.is_recent %}
          <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
          {% else %}
          <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
          {% endif %}
            <i class="material-icons delete-icon" id="{{ fb.feedback_id }}">delete</i>
            <b class="card-sub-heading" style="color:{{fb.category.colour}}">
              <img class="icon" src="{{fb.category.icon.image.url}}"/>
              {{ fb.category }}
            </b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="card custom-border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>Given to {{fb.student.student.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                <div style="text-align:center; color:{{fb.category.colour}}">
                  {{ fb.points }}<br />
                  <h6>POINTS</h6>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <hr />

        <div class="btn-group dropright button">
            <button class="btn btn-material dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu custom-dd-menu">
              <button onclick="sort('{{ student.student.username }}', 'points', 'from_user')" type="button" class="btn btn-material btn-ripple">Points</button>
              <button onclick="sort('{{ student.student.username }}', 'date', 'from_user')" type="button" class="btn btn-material btn-ripple">Date</button>
              <button onclick="sort('{{ student.student.username }}', 'course', 'from_user')" type="button" class="btn btn-material btn-ripple">Course</button>
            </div>
        </div>
      </div>


      </div>
    </div>
  </div>

  <!-- Help Info -->
  <div class="modal" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-help" id="helpModal">Help - Provided Feedback Page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">

            <p>
              This is the "Provided Feedback" page.
            </p>

            <img class="help-image" src="{% static 'help_screenshots/student_prov_fb.png'%}">

            <br />

            <p>
              <li>
                Here you can delete a feedback that you have given to a student if you wish by clicking the bin icon.
              </li>
              <li>
                You can also view all feedback you have given for each course by using the tabs
              </li>
            </p>

          </div>

          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
          </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/delete_feedback.js' %}" ></script>
{% endblock%}
