{% extends 'student_feedback_app/general/base.html' %}
{% load staticfiles %}

{% block title%}
{{ course.subject }}
{% endblock %}

{% block current_page %}
{{ course.subject }}
{% endblock%}


{% block body_block %}
<div class="container">
  <div class="card-deck" id="{{user.id_number}}">

    <div class="card scroll-bg" style="margin-top:25px;">
      <h3 class="text-center custom-card-title">Course Info</h3>
      <hr />
      <div class="card-body">

          <div class="card card-padding custom-card">
              <b class="custom-card-title" style="padding-top:0">Lecturer(s):</b>
              {% for lecturer in lecturers %}
              <em>{{lecturer.lecturer.username }}</em>
              {% endfor %}
          </div>
          <div class="card card-padding custom-card">
              <b class="custom-card-title" style="padding-top:0">Course Description:</b>
              <em>{{course.course_description }}</em>
          </div>
          <div class="card custom-card">
            <div class="row">
              <div class="column left-category">
                <b class="custom-card-title" style="padding-top:0">Current Score:</b>
                </div>
              <div class="column right-number" style="margin-bottom:0">
                  {{ score }}
                </div>
              </div>
            </div>
      </div>
    </div>

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">Recent Feedback</h3>
      <hr />
      <div class="card-body scroll" id="fb-list">
        {% for fb,colour in feedback.items %}
        {% if fb.is_recent %}
        <div class="card recent custom-card text-white fb-border" style="border-color:{{colour}}">
        {% else %}
        <div class="card custom-card fb-border" style="border-color:{{colour}}">
        {% endif %}
          <b class="card-sub-heading" style="color:{{colour}}">{{ fb.category }}</b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>From {{fb.from_user.username}}</footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              <div style="text-align:center; color:{{colour}}">
                {{ fb.points }}<br />
                <h6>POINTS</h6>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
      </div>
	  <div class="button" style="padding-bottom:0px; padding-top:10px;">
          <button onclick="sort('{{ course.subject }},{{ student.student.username }}', 'points', 'course-student')" type="button" class="btn btn-material btn-ripple">Sort by points</button>
          <button onclick="sort('{{ course.subject }},{{ student.student.username }}', 'date', 'course-student')" type="button" class="btn btn-material btn-ripple">Sort by date</button>
      </div>
    </div>



    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title leaderboard">Leaderboard</h3>
      <hr />


      <div class="card-body scroll">
        <div class="tab-content">
          <div id="All" class="tab-pane active">
            {% for stud,score in sorted_students %}
              <div class="card custom-card leaderboard-stud" id="{{stud.student.id_number}}">
                <div class="row">
                  <div class="column left">
                    <b class="card-sub-heading">{{ stud.student.username }}</b>
                    <div class="card-sub-heading">
                      {{ score }}
                      </div>
                    </div>
                  <div class="column right">
                    <a href="{% url 'view_profile' stud.student.id_number%}">
                      <img class="picture" src="{{stud.student.profile_picture.url}}"/>
                    </a>
                    </div>
                  </div>
                </div>
                <br />
              {% endfor %}
          </div>

          {% for cat,list in cat_stud_and_score.items %}
          <div id="{{cat.id}}" class="tab-pane">
            {%for stud in list %}
            <div class="card custom-card leaderboard-stud" id="{{stud.0.student.id_number}}">
              <div class="row">
                <div class="column left">
                  <b class="card-sub-heading">{{ stud.0.student.username }}</b>
                  <div class="card-sub-heading">
                    {{ stud.1 }}
                    </div>
                  </div>
                <div class="column right">
                  <a href="{% url 'view_profile' stud.0.student.id_number%}">
                    <img class="picture" src="{{stud.0.student.profile_picture.url}}"/>
                  </a>
                  </div>
                </div>
              </div>
              <br />
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card-header col-1">
      <ul class="nav nav-tabs nav-pills card-header-tabs nav-stacked" id="title">
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link active" style="color:black; font-size:20px" href="#All">All</a>
        </li>
        {% for category in categories %}
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link" style="color:{{category.colour}}; font-size:20px" href="#{{category.id}}">{{ category }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/group_select.js' %}" ></script>
{% endblock%}
