{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
Add Feedback for {{ student.student.username }}
{% endblock %}

{% block current_page %}
{{ from_student.student.username }}'s<br />
Add Feedback
{% endblock%}


{% block body_block %}
{% load widget_tweaks %}

<div class="container">
  <div class="card-deck" style="margin-top:25px; margin-bottom:25px">
    <div class="container card">

    <h3 class="text-center custom-card-title">
      Adding Feedback for: {{ student.student.username}}
    </h3>
    <hr />

    <div class="custom-card" style="margin:0; padding:0">
      <div class="cat-option" style="margin-bottom:25px">
        <h3 class="fb-form-heading">Select a Category:</h3>
        <div style="margin:10px">
          {% for cat in categories %}
          <div class="btn btn-material btn-ripple cat-item" id="{{cat.id}}" style="background-color:{{cat.colour}}">{{cat.name}}</div>
          {% endfor %}
          <a href="{%url 'customise_options' %}">
            <div class="btn btn-material btn-ripple cat-item" id="{{cat.id}}" style="background-color:{{cat.colour}}">
              {{cat.name}}
              <i class="material-icons add-cat-redirect">add</i>
            </div>
          </a>
        </div>
      </div>

      <h3 class="fb-form-heading">Select a Message:</h3>
      <div class="messages-scroll messages">
        <div class="card fb-border">
          <div class="card-body text-center">
            <b class="message-heading">Select a category first</b>
          </div>
        </div>
      </div>
      <form method="">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group" style="padding:10px">
            <h3 class="heading-for-label">
              {{ field.label_tag }}
            </h3>
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}

            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}

          </div>
        {% endfor %}
      </form>

      <div class="button">
        <button id="add-another" class="btn btn-material btn-ripple submit-fb-form-stud" type="button" name="add-another">Submit & Add another Feedback</button>
      </div>

      <div class="button">
        <input id="submit" class="btn btn-material btn-ripple submit-fb-form-stud" type="submit" name="submit" value="Submit & Finish" />
      </div>

    </div>

  </div>


  <div class="card">

    <h3 class="text-center custom-card-title">Total Score: {{ student.score }}</h3>
    <hr />

    <div class="custom-card"style="margin-bottom:25px; padding:0; margin-top:0">
      <div class="card">
        <h5 class="text-center custom-card-title">Feedback for {{ student.student.username }}</h5>
        <hr />
        <div class="card-body give-fb-scroll">
          <p class="card-text"></p>
          {% for fb in feedback %}
          {% if fb.is_recent %}
          <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
          {% else %}
          <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
          {% endif %}
            <b class="card-sub-heading" style="color:{{fb.category.colour}}">
              <img class="icon" src="{{fb.category.icon.image.url}}"/>
              {{ fb.category }}
            </b>
            <div class="row" style="padding-bottom:1%">
              <div class="column left">
                <div class="card custom-border">
                  <blockquote class="quote">
                    {{ fb.pre_defined_message.text }}<br />
                    {% if fb.optional_message %}
                    <em>"{{ fb.optional_message }}"</em>
                    {% endif %}
                    <footer>From {{fb.from_user.username}}</footer>
                  </blockquote>
                </div>
                Course:<em> {{fb.which_course.subject}}</em><br />
                <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
              </div>
              <div class="column right-number">
                <div style="text-align:center; color:{{fb.category.colour}}">
                  {{ fb.points }}<br />
                  <h6>POINTS</h6>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      </div>
    </div>
  </div>

  <!-- New Message Modal -->
  <div class="modal" id="addMessageModal" tabindex="-1" role="dialog" aria-labelledby="addMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-add-mess-header" id="addMessageModalTitle">Add a new Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">
            {% csrf_token %}
            {% for hidden_field in new_mess_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% for field in new_mess_form.visible_fields %}
              <div class="form-group" style="padding:10px">
                <h3 id="form-title">
                  {{ field.label_tag }}
                </h3>
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% render_field field class="form-control" %}
              </div>
            {% endfor %}

          </div>
          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
            <button class="btn btn-material btn-ripple submit-add-mess-form" type="submit" name="submit" value="Submit">Submit</button>
          </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/add_feedback.js' %}"></script>
<script type="text/javascript">
  function displayMessages(data,cat_id) {
    {% autoescape off %}
    all_messages = {{messages}}
    {% endautoescape %}
    message_set = data.message_set;
    updateHtml(data.colour,message_set,data.name,cat_id);
  }
</script>
{{ form.media }}
{% endblock %}
