{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
Customise Options
{% endblock %}

{% block current_page %}
{{ user.username }}'s<br />
Edit Categories and Pre-Defined Messages
{% endblock%}

{% load widget_tweaks %}
{% block body_block %}

<div class="container">
  <div class="card-deck">

    <div class="card scroll-bg">
      <h3 class="card-body text-center custom-card-title">My Categories</h3>
      <i class="material-icons create-cat-icon" id="add-cat-icon" data-toggle="modal" data-target="#addCategoryModal" title="Add a new Category">playlist_add</i>
      <hr />
      <div class="card-body scroll">
        {% for cat in categories %}
        <div class="card custom-card fb-border category"style="border-color:{{cat.colour}}">
            <div class="card-body text-center">
              <b class="card-sub-heading">{{ cat.name }}</b>
              <i class="material-icons delete-cat-icon" id={{cat.id}}>delete</i>
              <i class="material-icons edit-cat-icon" data-toggle="modal" data-target="#editCategoryModal" id={{cat.id}}>edit</i>
            </div>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>

    <div class="card scroll-bg">
      <h3 class="card-body text-center custom-card-title cat-title" id="all-messages">My Messages</h3>
      <hr />
      <div class="card-body scroll messages">
        {% for mess in messages_qs %}
        <div class="card custom-card fb-border" style="border-color:{{mess.category.colour}}">
            <div class="card-body text-center">
              <b class="card-sub-heading">{{ mess.text }}</b>
              <i class="material-icons delete-mess-icon" id={{mess.id}}>delete</i>

            </div>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>

  </div>

  <!-- New Category Modal -->
  <div class="modal" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-add-cat-header" id="addCategoryModalTitle">Add a new Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">

            {% csrf_token %}
            {% for hidden_field in new_cat_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% for field in new_cat_form.visible_fields %}
              <div class="form-group" style="padding:10px">
                <h3 class="custom-card-title">
                  {{ field.label_tag }}
                </h3>
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% render_field field class="form-control" %}
              </div>
            {% endfor %}

            <div class="form-group" style="padding:10px">
              <h3 class="custom-card-title">
                Colour
              </h3>
              <small class="form-text text-muted">Choose a colour (default is teal):</small>

              <input class="form-control input-lg" type="text" id="new_cat_colour"/>
              <script>
                  $('#new_cat_colour').colorpicker({});
              </script>
            </div>


          </div>
          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
            <button class="btn btn-material btn-ripple submit-add-cat-form" type="submit" name="submit" value="Submit">Submit</button>
          </div>

      </div>
    </div>
  </div>

  <!-- Edit Category Modal -->
  <div class="modal" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-edit-cat-header" id="editCategoryModalTitle">Edit Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">
            {% csrf_token %}
            {% for hidden_field in edit_cat_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% for field in edit_cat_form.visible_fields %}
              <div class="form-group" style="padding:10px">
                <h3 class="custom-card-title">
                  {{ field.label_tag }}
                </h3>
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% render_field field class="form-control" %}
              </div>
            {% endfor %}

            <div class="form-group" style="padding:10px">
              <h3 class="custom-card-title">
                Colour
              </h3>
              <small class="form-text text-muted">Choose a colour (default is teal):</small>

              <input class="form-control input-lg" type="text" id="edit_cat_colour"/>
              <script>
                  $('#edit_cat_colour').colorpicker({});
              </script>
            </div>


          </div>
          <div class="modal-footer">
            <button class="btn btn-material" data-dismiss="modal">Close</button>
            <button class="btn btn-material btn-ripple submit-edit-cat-form" type="submit" name="submit" value="Submit">Save changes</button>
          </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/customise.js' %}" ></script>
<script type="text/javascript">
  function displayMessages(data) {
    {% autoescape off %}
    all_messages = {{messages}}
    {% endautoescape %}
    message_set = data.message_set;
    updateHtml(data.colour,message_set,data.name);
  }
</script>
{% endblock%}
