{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
Error
{% endblock %}

{% block current_page %}
Error Page
{% endblock%}

{% block body_block %}
<div class="container">

{% if error == "auth" %}
	<div class="card" style="margin-top:25px;">
    <h3 class="text-center custom-card-title">
			{% if not user.is_authenticated %}
				You Are Not Logged In
			{% else %}
				Access Denied
			{% endif %}
		</h3>
		<hr />
		<h5 class="card-body text-left" id="title">
			{% if not user.is_authenticated %}
				Please log in or register:
				{% else %}
					{% if user.is_student %}
						As a student you are not allowed to access this page
					{% else %}
						As a lecturer you are not allowed to access this page
					{% endif %}
				{% endif %}
		</h5>
		<div class="card-body" style="align-self:center">
			{% if not user.is_authenticated %}
				<a class="nav-link" href="{% url 'auth_login' %}">
					<button class="btn btn-material btn-ripple" style="width:200px">Login</button>
				</a>
				<a class="nav-link" href="{% url 'registration_register' %}">
					<button class="btn btn-material btn-ripple" style="width:200px">Register</button>
				</a>
				{% else %}
					{% if user.is_student %}
						<a class="nav-link" href="{% url 'student_home' %}">
							<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
						</a>
					{% else %}
					<a class="nav-link" href="{% url 'lecturer_home' %}">
						<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
					</a>
					{% endif %}
				{% endif %}
    </div>
	</div>
{% endif %}


{% if error == "error" %}
<div class="container">
	<div class="card" style="margin-top:25px;">
		<h3 class="text-center custom-card-title">Something Went Wrong</h3>
		<hr />
		<h5 class="card-body text-left" id="title">
			Please try returning to the page you were just on, or press below to return to the home page
		</h5>
		<div class="card-body" style="align-self:center">
			<a class="nav-link"
				{% if user.is_lecturer %}
					href="{% url 'lecturer_home' %}"
				{% else %}
					href="{% url 'student_home' %}"
				{% endif %}>
				<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
			</a>
		</div>
	</div>
</div>
{% endif %}

{% if error == "no_course" %}
<div class="container">
	<div class="card" style="margin-top:25px;">
		<h3 class="text-center custom-card-title">Course Does Not Exist</h3>
		<hr />
		<h5 class="card-body text-left" id="title">
			Check if the course name entered is correct
			{% if user.is_lecturer %}
			or try creating a new course:
			{% endif %}
		</h5>
		<div class="card-body" style="align-self:center; margin-top;0">
			{% if user.is_lecturer %}
			<a class="nav-link" href="{% url 'create_course' %}">
				<button class="btn btn-material btn-ripple" style="width:200px">Create a Course</button>
			</a>
			{% endif %}
			<a class="nav-link"
				{% if user.is_lecturer %}
					href="{% url 'lecturer_home' %}"
				{% else %}
					href="{% url 'student_home' %}"
				{% endif %}>
				<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
			</a>
		</div>
	</div>
</div>
{% endif %}

{% if error == "no_student" %}
<div class="container">
	<div class="card" style="margin-top:25px;">
		<h3 class="text-center custom-card-title">Student Does Not Exist</h3>
		<hr />
		<h5 class="card-body text-left" id="title">
			Check if the student number entered is correct
		</h5>

		<div class="card-body" style="align-self:center">
			<a class="nav-link" href="{% url 'lecturer_home' %}">
				<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
			</a>
		</div>
	</div>
</div>
{% endif %}

{% if error == "not_enrolled" %}
<div class="container">
	<div class="card" style="margin-top:25px;">
		<h3 class="text-center custom-card-title">You are not enrolled in this course</h3>
		<hr />
		<h5 class="card-body text-left" id="title">
			Please contact the lecturer in charge to join this course:
		</h5>
		<h6 class="card-body text-center" id="title">
			{% for email in emails %}
				<li>
					{{ email }}
				</li>
			{% endfor %}
		</h6>
		<div class="card-body" style="align-self:center">
			<a class="nav-link"
				{% if user.is_lecturer %}
					href="{% url 'lecturer_home' %}"
				{% else %}
					href="{% url 'student_home' %}"
				{% endif %}>
				<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
			</a>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/remove_help.js' %}"></script>
{% endblock %}
