{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
My Profile
{% endblock %}

{% block current_page %}
My Profile
{% endblock%}

{% load widget_tweaks %}
{% block body_block %}
<div class="container">

  <div class="card-deck" style="margin-top:25px">
    <div class="card card-profile">
      <img class="card-img-top picture-my-account" style="margin:25px" src="{{user.profile_picture.url}}" alt="Profile Picture">
      <div class="card-body">
        <h4 class="custom-card-title text-center" style="padding:0">{{user.username}}</h4>
        {% if user.is_student %}
          <p class="custom-card-title text-center" id="title" style="padding-top:0">Score: {{student.score}}</p>
        {% endif %}
		<div class="button" style="margin-bottom:0">
		  <button class="btn btn-material btn-ripple" data-toggle="modal" data-target="#editBioModal" title="Edit your Bio">
			Edit Degree/Bio
		  </button>
		</div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card bg-success text-white card-padding custom-card">
          <b class="custom-card-title" style="padding-top:0">Email: </b>
            <p class="profile-text text-center">
                {{user.email}}
            </p>
        </div>
        <div class="card bg-primary text-white card-padding custom-card">
          <b class="custom-card-title" style="padding-top:0">Degree: </b>
            <p class="profile-text text-center">
                {{user.degree}}
            </p>
        </div>
        <div class="card bg-info text-white card-padding custom-card">
          <b class="custom-card-title" style="padding-top:0">Bio:</b>
            <p class="profile-text text-center">
                 {{user.bio}}
            </p>
        </div>

      </div>
    </div>

  </div>

  <div class="card-deck">

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">Courses</h3>
      <hr />
      <div class="card-body scroll">
        {% if courses|length == 0 %}
        <div class="card custom-card">
          <b class="card-sub-heading">No Courses Yet</b>
          <div class="card custom-border">
            <div class="course-info">
              Click on "Help" in the top right for more information
              </div>
          </div>
        </div>
        {% endif %}
        {% for course,value in courses.items %}
        <div class="card custom-card">
          <b class="card-sub-heading">{{ course.subject }}</b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="card custom-border">
                <div class="course-info">
                  {{ course.course_description }}<br />
                  <footer>
                    {% if user.is_student %}
                      {% for lect in course.lecturers.all %}
                        {{lect.lecturer.username}}<br />
                      {% endfor %}
                    {% else %}
                      Code - {{ course.course_code }}
                    {% endif %}
                  </footer>
                  <br />
                </div>
              </div>
            </div>
            <div class="column right-number">
              <div style="text-align:center">
                {{ value }}<br />
                {% if user.is_student %}
                  <h6>TOTAL SCORE</h6>
                {% elif user.is_lecturer %}
                  <h6>STUDENTS</h6>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="card scroll-bg">
      <h3 class="text-center custom-card-title">Recent Feedback</h3>
      <hr />
      <div class="card-body scroll" id="fb-list">
        {% if feedback|length == 0 %}
        <div class="card custom-card fb-border">
          <b class="card-sub-heading">
            No Feedback Yet
          </b>
          <div class="card custom-border">
            <blockquote class="quote">
              You have not received any feedback yet<br />
            </blockquote>
          </div>
        </div>
        {% endif %}
        {% for fb in feedback %}
        {% if fb.is_recent %}
        <div class="card recent custom-card text-white fb-border" style="border-color:{{fb.category.colour}}">
        {% else %}
        <div class="card custom-card fb-border" style="border-color:{{fb.category.colour}}">
        {% endif %}
          <b class="card-sub-heading" style="color:{{fb.category.colour}}">
            <img class="icon" src="{{fb.category.icon.image.url}}"/>
            {{ fb.category }}
          </b>
          <div class="row" style="padding-bottom:1%">
            <div class="column left">
              <div class="card custom-border">
                <blockquote class="quote">
                  {{ fb.pre_defined_message.text }}<br />
                  {% if fb.optional_message %}
                  <em>"{{ fb.optional_message }}"</em>
                  {% endif %}
                  <footer>
                    {% if user.is_student %}
                      From {{fb.from_user.username}}
                    {% elif user.is_lecturer %}
                      Given to {{fb.student.student.username}}
                    {% endif %}
                  </footer>
                </blockquote>
              </div>
              Course:<em> {{fb.which_course.subject}}</em><br />
              <i class="material-icons" style="font-size:70%;">calendar_today</i> {{ fb.datetime_given }}
            </div>
            <div class="column right-number">
              <div style="text-align:center; color:{{fb.category.colour}}">
                {{ fb.points }}<br />
                <h6>POINTS</h6>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Help Info -->
    <div class="modal" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1000px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-help" id="helpModal">Help - My Profile Page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <div class="modal-body">

              <p>
              This is your profile page.
              </p>

              {% if user.is_student %}
              <img class="help-image" src="{% static 'help_screenshots/student_my_profile1.png'%}">
              <img class="help-image" src="{% static 'help_screenshots/student_my_profile2.png'%}">
              {% else %}
              <img class="help-image" src="{% static 'help_screenshots/lecturer_my_profile1.png'%}">
              <img class="help-image" src="{% static 'help_screenshots/lecturer_my_profile2.png'%}">
              {% endif %}
              <br />

              <p>
                <li>
                  The main feature available on this page is the option to edit the biography and degree
                  displayed to other users by clicking the "Edit Bio" button
                </li>
              </p>

            </div>

            <div class="modal-footer">
              <button class="btn btn-material" data-dismiss="modal">Close</button>
            </div>

        </div>
      </div>
    </div>


  <!-- Edit Bio Modal -->
  <div class="modal" id="editBioModal" tabindex="-1" role="dialog" aria-labelledby="editBioModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title modal-edit-bio-header" id="editBioModalTitle">Edit Degree/Bio</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>

		  <div class="modal-body">
              <form id="" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <h3 class="custom-card-title" style="padding-top:0">
                        {% if field.name == "profile_picture" %}
                            Profile Picture:
                        {% else %}
                            {{ field.help_text }}:
                        {% endif %}
                    </h3>
                      {% render_field field class="form-control" %}
                  </div>
                {% endfor %}
                <div class="button">
                  <input class="btn btn-material btn-ripple" type="submit" name="submit" value="Submit" />
                </div>

        </form>
	  </div>
	</div>
  </div>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
{% endblock %}
