{% extends 'student_feedback_app/general/base.html' %}
{% load static %}

{% block title%}
Wait to be approved by admin
{% endblock %}

{% block current_page %}
Wait to be approved by admin
{% endblock%}

{% block body_block %}
<div class="container">
		<div class="card" style="margin-top:25px;">
			<h3 class="text-center custom-card-title">You are not approved</h3>
			<hr />
			<h5 class="card-body text-center" id="title">
				An administrator has been notified about your registration, please wait for approval to access the page.
			</h5>
			<div class="card-body" style="align-self:center">
				<a class="nav-link" href="{% url 'student_home' %}">
					<button class="btn btn-material btn-ripple" style="width:200px">Return to Home Page</button>
				</a>
			</div>
		</div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/remove_help.js' %}"></script>
{% endblock %}
