<h1>Hello!</h1>
<p>
  The following lecturer has registered and requires approval:<br />

  <h3 style="margin-left: auto; margin-right: auto; text-align: center;"> {{lecturer}} </h3><br/><br />

  You can approve this profile by using the following link:<br />
  <h4 style="margin-left: auto; margin-right: auto; text-align: center;">
    http://feedbackapp.pythonanywhere.com/admin/
  </h4> <br /><br />

  Then complete the following steps:
  <ol>
    <li>
        Sign in
    </li>
    <li>
        Click "Pending Approvals"
    </li>
    <li>
        Click the red cross
    </li>
    <li>
        Verify the lecturer's details
    </li>
    <li>
        Tick the checkbox at the bottom marked "Is active"
    </li>
    <li>
        Click "Save" in the bottom right
    </li>
  </ol>
</p>
