<h1>Hello student!</h1>
<p>
  <b>{{lecturer}}</b> has invited you to join the following UniCom course:<br />

  <h3 style="margin-left: auto; margin-right: auto; text-align: center;"> {{subject}} ({{course_code}}) </h3><br/><br />

  To join this course, log in at:<br />
  <h4 style="margin-left: auto; margin-right: auto; text-align: center;">
    http://feedbackapp.pythonanywhere.com
  </h4> <br /><br />
  and use the following token in the "Courses" page: <br />
  <h2 style="margin-left: auto; margin-right: auto; text-align: center;"> "{{token}}" </h2><br/><br />
  If you are not yet a member, registration is quick and easy!
</p>
