{% extends "student_feedback_app/general/base.html" %}

{% block title%}
Log In/Sign Up
{% endblock %}

{% block current_page %}
Log in
{% endblock %}

{% load widget_tweaks %}
{% block body_block %}
<div class="container">
  <form id="login_form" method="post" action="">

    <div class="card custom-card" style="margin-top:25px;">

      <h3 class="card-body text-center custom-card-title">Log In</h3>
      <hr />
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group" style="width:50%; padding:10px; align-self:center">
          <h3 class="custom-card-title">
            {{ field.label_tag }}
          </h3>
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div>
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% elif field.label == 'Sign up as:' %}
            {% render_field field class="custom-radio-button" %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

        </div>
      {% endfor %}

      <div style="align-self:center; align-items:center">

        <input class="btn btn-material btn-ripple" type="submit" value="Log in" style="width:100%"/>
        <input type="hidden" name="next" value="{% url 'lecturer_home' %}" /><br />
        <p id="title">Not  a member? <a href="{% url 'registration_register' %}">Register Here</a>!</p>

      </div>

    </div>
  </form>
</div>
{% endblock %}
