{% extends "student_feedback_app/general/base.html" %}

{% block title%}
Log Out
{% endblock %}

{% block current_page %}
Logged Out
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="card" style="margin-top:25px;">
    <h3 class="card-body text-center custom-card-title">Logged Out</h3>
    <hr />
    <h5 class="card-body text-left" id="title">
      You are now logged out.
    </h5>
    <div class="card-body" style="align-self:center">
			<a class="nav-link" href="{% url 'auth_login' %}">
        <button class="btn btn-material btn-ripple" style="width:200px">Login</button>
			</a>
			<a class="nav-link" href="{% url 'registration_register' %}">
      	<button class="btn btn-material btn-ripple" style="width:200px">Register</button>
			</a>
    </div>
</div>
{% endblock %}
