{% extends "student_feedback_app/general/base.html" %}
{% load static %}

{% block title%}
Change Password
{% endblock %}

{% block current_page %}
Change Password
{% endblock %}

{% load widget_tweaks %}
{% block body_block %}
<div class="container">
  <form id="login_form" method="post" action="">

    <div class="card custom-card" style="margin-top:25px; margin-bottom:25px">

      <h3 class="card-body text-center custom-card-title">Change Password</h3>
      <hr />
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group" style="width:100%; padding:10px; align-self:center">
          <h3 class="custom-card-title">
            {{ field.label_tag }}
          </h3>
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div>
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

        </div>
      {% endfor %}
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <div style="align-self:center; align-items:center">
            {{ error }}
            </div>
        {% endfor %}
      {% endfor %}

      <div style="align-self:center; align-items:center">

        <input class="btn btn-material btn-ripple" type="submit" value="Change Password" style="width:100%"/>
      </div>

    </div>
  </form>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/remove_help.js' %}"></script>
{% endblock %}
