{% extends "student_feedback_app/general/base.html" %}
{% load static %}

{% block title%}
Password Change
{% endblock %}

{% block current_page %}
Password Change
{% endblock %}

{% load widget_tweaks %}
{% block body_block %}
<div class="container">
  <form id="login_form" method="post" action="">

    <div class="card custom-card" style="margin-top:25px;">

      <h3 class="card-body text-center custom-card-title">Password Change</h3>
      <hr />
      <p class="card-body text-center">Password changed successfully</p>
    </div>
  </form>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'javascript/remove_help.js' %}"></script>
{% endblock %}
