{% extends "student_feedback_app/general/base.html" %}

{% block title%}
Register
{% endblock %}

{% block current_page %}
Register
{% endblock %}

{% load widget_tweaks %}
{% block body_block %}
<div class="container">

  <div class="card custom-card" style="margin-bottom:25px;">

    <form id="register_form" method="post" action="">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      <h3 class="card-body text-center custom-card-title">Register</h3>
      <hr />

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form.visible_fields %}
        <div class="form-group" style="padding:10px">
          <h3 class="custom-card-title">
            {{ field.label_tag }}
          </h3>
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div>
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% elif field.label == 'Sign up as:' %}
            {% render_field field class="custom-radio-button" %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

        </div>
      {% endfor %}

      <div class="button">
        <input class="btn btn-material btn-ripple" type="submit" name="submit" value="Register" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
