{% extends "student_feedback_app/base.html" %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div>
  <form id="register_form" method="post" action="">
    {% csrf_token %}

    <div class="container">
      <div class="card" style="margin-left:25px; margin-top:25px; align-items:center">
        <h3 class="card-body text-center">Register</h3>
        <div class="card-body">
          {{ form.as_p }}
        </div>
        <input type="submit" value="Register" style="width:50%;"/>
      </div>
    </div>
  </form>
</div>
{% endblock %}
